// screen size + center
.screen-size {
    max-width: $destop-width;
    margin: 0 auto;
}

// titles style
.title-l {
    @include titleStyle($font-title-l);
}

.title-m {
    @include titleStyle($font-title-m);
}

.title-sub {
    @include titleStyle($font-subtitle,$font-weight);
}

.title-format {
    @include flexbox($rgap: $sp-2);
}

// button-sm style
.button-sm {
    @include flexbox(row);
    column-gap: $sp-2;
    padding: $sp-2 $sp-3;
    background-color: $primary-color-3;
    border-radius: $sp-5;
    border: none;
    font-size: $font-body;
    font-weight: $font-weight;
    line-height: $line-height-body;
}

.button-sm:hover, .button-sm:active {
    background-color: $primary-color-4;
}

.button-lg {
    background-color: $primary-color-3;
    border: none;
    border-radius: $sp-3;
    padding: $sp-3 $sp-4;
    color: $gray-color-5;
}

.button-lg:hover, .button-lg:active {
    background-color: $primary-color-4;
}


// link-light/link-dark style
.link-light {
    color: $gray-color-5;
}

.link-light:hover, .link-light:active {
    color: $primary-color-5;
}

.link-dark {
    color: $gray-color-0;
}

.link-dark:hover, .link-dark:hover {
    color: $primary-color-2;
}


.link-social:hover, .link-social:active {
    background-color: $primary-color-5;
}

// card
.donation-card {
    background-color: $gray-color-5;

    p:first-child {
        color: $primary-color-1;

        span {
            color: $primary-color-3;
        }
    }

    .svg {
        background-color: $gray-color-0;
    }
}

// hidden
.policy-box.hide {
    display: none;
}

// svg
.svg {
    display: inline-block;
    background-color: $gray-color-5;
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
}

.svg-xs {
    @include svgSize(16px);
}

.svg-s {
    @include svgSize(24px);
}

.svg-m {
    @include svgSize(32px);
}

.svg-l {
    @include svgSize(54px);
}

.svg-xl {
    @include svgSize(128px);
}

// body
body {
    font-family: $font-family;
    color: $gray-color-5;
    background-color: $gray-color-5;
    font-size: $font-body;
    line-height: $line-height-body;
}

.body {
    background-color: $gray-color-0;
}

header {
    @extend .screen-size;
    padding: 0 $sp-6;
}

main {
    @extend .screen-size;
    padding: $sp-6 $sp-6;
}

footer {
    @extend .screen-size;
    color: $gray-color-0;
    padding: $sp-4 $sp-6;

    a {
        color: $gray-color-0;
    }

    h4 {
        color: $primary-color-3;
    }
} 


