body {
    font-family: $font-family;
    color: $gray-color-5;
    background-color: $gray-color-5;
    font-size: $font-body;
    line-height: $line-height-body;
}

.body {
    background-color: $gray-color-0;
}

header {
    max-width: $destop-width;
    margin: 0 auto;
    padding: 0 $sp-6;
}

main {
    max-width: $destop-width;
    margin: 0 auto;
    padding: $sp-6 $sp-6;
}

footer {
    max-width: $destop-width;
    margin: 0 auto;
    color: $gray-color-0;
    padding: $sp-4 $sp-6;

    a {
        color: $gray-color-0;
    }

    h4 {
        color: $primary-color-3;
    }
} 

// titles style
.title-l {
    font-size: $font-title-l;
    font-weight: $font-weight-title;
    color: $primary-color-5;
    line-height: $line-height;
}

.title-m {
    font-size: $font-title-m;
    font-weight: $font-weight-title;
    color: $primary-color-5;
    line-height: $line-height;
}

.title-sub {
    font-size: $font-subtitle;
    color: $primary-color-5;
    line-height: $line-height;
}

// button-sm style
.button-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: $sp-2;
    padding: $sp-2 $sp-3;
    background-color: $primary-color-3;
    border-radius: $sp-5;
    border: none;
    font-size: $font-body;
    font-weight: $font-weight;
    line-height: $line-height-body;
}

.button-sm:hover {
    background-color: $primary-color-4;
}

.button-sm:active {
    background-color: $primary-color-4;
}


// link-light/link-dark style
.link-light {
    color: $gray-color-5;
}

.link-dark {
    color: $gray-color-0;
}

.link-light:hover, .link-dark:hover {
    color: $primary-color-5;
}

.link-light:active, .link-dark:hover {
    color: $primary-color-5;
}

.link-social:hover {
    background-color: $primary-color-5;
}

.link-social:active {
    background-color: $primary-color-5;
}





