// header
.nav {
    @include flexbox(row,space-between,center);
    padding: $sp-3 0;
    
    img {
        display: flex;
        height: $sp-5;
    }

    div {
        @include flexbox($dir: row, $cgap: $sp-3);  

        button {
            @extend .button-sm;
        }
    }
}

.header-links {
    @include flexbox($dir: row, $ai: center, $cgap: 24px);

    a {
        @extend .link-light;
    }
}

.social {
    @include flexbox(row,center,flex-start,0,$sp-3);

    i {
        display: flex;
        @extend .link-social;
    }
}

.cover {
    position: relative;
}

.cover-bg {
    @include flexbox(row,center,center);
    background-color: $gray-color-2;
    border-radius: $sp-3;
    height: 640px;

    p {
        color: $gray-color-0;
        font-size: 260px;
        line-height: 320px;
        letter-spacing: 13px;
    }
}

.cover-black {
    width: 361px;
    position: absolute;
    top: 249px;
    left: 807px;
}

.cover-banner {
    @include flexbox(row,center,center,0,$sp-2,inline-flex);
    padding: $sp-2 $sp-4;
    background-color: $gray-color-5;
    color: $primary-color-3;
    border-radius: $sp-5;
    position: absolute;
    top: 276px;
    left: -20px;

    span {
        @include flexbox(row,center,center,0,0,inline-flex);
        width: $sp-6;
        height: $sp-6;
    
        &.num {
            border: 3px solid $primary-color-3;
            border-radius: $sp-5;
        }
    
        .svg {
            background-color: $primary-color-3;
        }
    }
}

.cover-button {
    @extend .button-sm;
    position: absolute;
    top: 580px;
    left: 832.5px;
}

// main
// claims section
.main {
    @include flexbox($rgap: $sp-6);
}

.claims {
    @include flexbox($dir: row, $cgap: $sp-4);

    div:first-child{
        width: 264px;
    }

    div:last-child{
        width: 856px;
        
        p {
            color: $gray-color-5;
        }
    }

}

// events
.events {
    @include flexbox($dir: row, $cgap: $sp-4);

    > div:first-child{
        width: 264px;
    }

    > div:last-child{
        width: 856px;
    }
}

.event-list {
    @include flexbox($rgap: $sp-4);

    li {
        @include flexbox($dir: row, $cgap: $sp-3);

        div:first-child{
            width: 264px;
        }

        div:last-child{
            width: 576px;
        }
    }
}

.event-img {
    width: 250.894px;
    border: 2px solid $primary-color-2;
    border-radius: $sp-3;
    box-shadow: 13.11px 13.53px $primary-color-2;
}

.event-word {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.event-detail{
    @include flexbox($rgap: $sp-2);

    > div {
        @include flexbox(row,space-between,center);

        span {
            color: $primary-color-5;
        }
    }
}

// policy section
.policy {
    @include flexbox($rgap: $sp-4);
}

.policy-tab {
    display: flex;

    li {
        width: 33.33%;
        padding: $sp-3;
        text-align: center;
        background-color: $primary-color-4;
        color: $gray-color-5;
        border-radius: $sp-3 $sp-3 0 0;

        &:hover {
            background-color: $primary-color-3;
        }

        &:active, &.active {
            background-color: $primary-color-1;
        }
    }
}

.policy-box {
    @include flexbox($ai: center, $rgap: $sp-5);
    padding: $sp-4 0;
    background-color: $primary-color-1;

    > div {
        display: flex;
        height: 268px;
    }
}

.policy-box-detail {
    width: 33.33%;
    background-image: url("/svg/policy/Background.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 $sp-4;
    padding: 0 $sp-3;
    @include flexbox($ai: center, $rgap: $sp-2);

    h3 {
        color: $gray-color-5;
    }

    p {
        text-align: center;
    }
}

// donation
.donation {
    @include flexbox($dir: row, $cgap: $sp-4);

    h3 {
        color: $gray-color-5;
    }

    > div:first-child{
        width: 461px;
        @include flexbox($jc: space-between);
    }

    > div:last-child{
        width: 659px;
        @include flexbox($rgap: $sp-3);
    }
}

.donation-word {
    @include flexbox($rgap: $sp-4);
}

.donation-total {
    @include flexbox($rgap: $sp-1);
    padding: $sp-3 $sp-4;
    background-color: $gray-color-5;
    border-radius: $sp-3;

    p {
        color: $primary-color-3;
    }
}

.donation-option {
    @include flexbox(row,space-between);
    border: 2px solid $primary-color-5;
    border-radius: $sp-3;
    padding: 0 $sp-4;

    .svg {
        background-color: $gray-color-2;
        margin: 6.5px 0;
    }

    &:hover, &:active {
        @extend .donation-card;
    }
}

.donation-option-detail {
    @include flexbox($rgap: $sp-3);
    padding: $sp-3 0;

    p:first-child {
        color: $gray-color-3;

        span {
            color: $gray-color-5;
        }
    }
}

.num-of-sponsor {
    display: inline;
    width: fit-content;
    padding: $sp-2 $sp-3;
    background-color: $primary-color-2;
    border-radius: $sp-2;
    text-align: center;
}

// service
.service {
    position: relative;
    height: 646px;

    > div:first-child{
        width: 461px;
        @include flexbox($rgap: $sp-4);
    }

    > div:last-child{
        width: 659px;
        padding: $sp-4;
        background-color: $primary-color-1;
        border-radius: $sp-3;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.service-black {
    height: 337px;
    position: absolute;
    left: 267px;
    bottom: -2px;
}

.service-word {
    @include flexbox($rgap: $sp-3);

    h3 {
        color: $gray-color-5;
    }
}

.service-form {
    @include flexbox($rgap: $sp-3);

    div {
        @include flexbox($rgap: $sp-2);

        input, textarea {
            border: 2px solid $gray-color-1;
            border-radius: $sp-2;
            padding: $sp-3;
            font-size: 14px;
            line-height: 24px;
        }

        textarea {
            resize: none;
            height: 116px;
        }
    }

    input[type=submit]{
        background-color: $primary-color-3;
        border: none;
        border-radius: $sp-3;
        padding: $sp-3 $sp-4;
        color: $gray-color-5;
        margin-top: $sp-4;
    }
}

// footer
.footer {
    height: 216px;
    @include flexbox($jc: space-between);

    > div {
        @include flexbox(row,space-between,flex-start);

        > div {
            @include flexbox($dir: row, $cgap: $sp-4);
        }
    }
}

.footer-logo{
    height: $sp-6;
}

.footer-links, .contact {
    width: 64px;
    @include flexbox($rgap: $sp-3);

    ul {
        @include flexbox($rgap: $sp-1);
    }

    a {
        @extend .link-dark;
    }
}

.contact {
    width: 267px;

    li {
        @include flexbox($dir: row, $ai: center, $cgap: $sp-1);
    }

    .svg {
        background-color: $primary-color-3;
    }
}

.copyright {
    text-align: center;
    font-size: 14px;
}