// header
.nav {
    @include flexbox(row,space-between,center);
    padding: $sp-3 0;

    div {
        @include flexbox($dir: row, $cgap: $sp-3);
    }

    .list {
        display: none;
    }
}

.coins-btn {
    @extend .button-sm;
}

.header-logo {
    display: flex;
    height: $sp-5;
}

.header-links {
    @include flexbox($dir: row, $ai: center, $cgap: 24px);
}

.social {
    @include flexbox(row,center,flex-start,0,$sp-3);

    i {
        display: flex;
        @extend .link-social;
    }
}

.cover {
    position: relative;
}

.cover-bg {
    @include flexbox(row,center,center);
    background-color: $gray-color-2;
    border-radius: $sp-3;

    p {
        color: $gray-color-0;
        font-size: 260px;
        font-weight: $font-weight-title;
        line-height: 320px;
        letter-spacing: 13px;
        margin-right: -13px;
    }
}

.cover-black {
    width: $grid-4;
    position: absolute;
    top: 38.9%;
    left: 70.05%;
}

.cover-banner {
    @include flexbox(row,center,center,0,$sp-2,inline-flex);
    padding: $sp-2 $sp-4;
    background-color: $gray-color-5;
    color: $primary-color-3;
    border-radius: $sp-5;
    position: absolute;
    top: 43.125%;
    left: -1.74%;

    span {
        @include flexbox(row,center,center,0,0,inline-flex);
        width: $sp-6;
        height: $sp-6;
    
        &.num {
            border: 3px solid $primary-color-3;
            border-radius: $sp-5;
        }
    
        .svg {
            background-color: $primary-color-3;
        }
    }
}

.cover-button {
    @extend .button-sm;
    position: absolute;
    top: 90.625%;
    left: 72.83%;
}

// main
.main {
    @include flexbox($rgap: $sp-6);
}

// main - claims section
.claims {
    @include flexbox($dir: row, $cgap: $sp-4);

    div:first-child{
        width: $grid-3;
    }

    div:last-child{
        width: $grid-9;
        
        p {
            color: $gray-color-5;
        }
    }
}

// main - events section
.events {
    @include flexbox($dir: row, $cgap: $sp-4);

    > div:first-child {
        width: $grid-3;
    }

    > div:last-child {
        width: $grid-9;
    }
}

.event-list {
    @include flexbox($rgap: $sp-4);

    li {
        @include flexbox($dir: row, $cgap: $sp-3);

        > div:first-child {
            width: 264px;
        }

        > div:last-child {
            width: calc(100% - 264px - $sp-3);
        }
    }
}

.event-img {
    width: 264px - 13.11px;
    height: 158px - 13.53px;
    border: 2px solid $primary-color-2;
    border-radius: $sp-3;
    box-shadow: 13.11px 13.53px $primary-color-2;
}

.event-word {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.event-detail {
    @include flexbox($rgap: $sp-2);

    > div {
        @include flexbox(row,space-between,center);

        > span {
            color: $primary-color-5;
        }
    }
}

// main - policy section
.policy {
    @include flexbox($rgap: $sp-4);
}

.policy-tab {
    display: flex;

    li {
        width: 33.33%;
        padding: $sp-3;
        text-align: center;
        background-color: $primary-color-4;
        color: $gray-color-5;
        border-radius: $sp-3 $sp-3 0 0;

        &:hover {
            background-color: $primary-color-3;
        }

        &:active, &.active {
            background-color: $primary-color-1;
        }
    }
}

.policy-box {
    @include flexbox($ai: center, $rgap: $sp-5);
    padding: $sp-4 0;
    background-color: $primary-color-1;
    min-height: 452px;

    > div {
        display: flex;
    }

    > h3 {
        text-align: center;
    }
}

.policy-box-detail {
    width: 33.33%;
    background-image: url("/svg/policy/Background.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 $sp-4;
    padding: 0 $sp-3;
    @include flexbox($ai: center, $rgap: $sp-2);
    text-align: center;

    h3 {
        color: $gray-color-5;
    }
}

// main - donation section
.donation {
    @include flexbox($dir: row, $cgap: $sp-4);

    > div:first-child{
        width: $grid-5;
        @include flexbox($jc: space-between);
    }

    > div:last-child{
        width: $grid-7;
        @include flexbox($rgap: $sp-3);
    }
}

.donation-word {
    @include flexbox($rgap: $sp-4);
    
    h3 {
        color: $gray-color-5;
        word-break: keep-all;
    }
}

.donation-total {
    @include flexbox($rgap: $sp-1);
    padding: $sp-3 $sp-4;
    background-color: $gray-color-5;
    border-radius: $sp-3;

    p {
        color: $primary-color-3;
    }
}

.donation-option {
    @include flexbox(row,space-between);
    border: 2px solid $primary-color-5;
    border-radius: $sp-3;
    padding: 0 $sp-4;

    .svg {
        background-color: $gray-color-2;
        margin: 6.5px 0;
    }

    &:hover, &:active {
        @extend .donation-card;
    }
}

.donation-option-detail {
    @include flexbox($rgap: $sp-3);
    padding: $sp-3 0;

    p:first-child {
        color: $gray-color-3;

        span {
            color: $gray-color-5;
        }
    }
}

.num-of-sponsor {
    display: inline;
    width: fit-content;
    padding: $sp-2 $sp-3;
    background-color: $primary-color-2;
    border-radius: $sp-2;
    text-align: center;
}

// main - service section
.service {
    position: relative;
    height: 662px;

    > div:first-child {
        width: $grid-5;
        @include flexbox($rgap: $sp-4);
    }

    > div:last-child {
        width: $grid-7;
        padding: $sp-4;
        background-color: $primary-color-1;
        border-radius: $sp-3;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.service-black {
    width: calc($grid-3 + $gutter-width);
    position: absolute;
    left: 23.18%;
    bottom: -2px;
}

.service-word {
    @include flexbox($rgap: $sp-3);

    h3 {
        color: $gray-color-5;
    }
}

.service-form {
    @include flexbox($rgap: $sp-3);

    div {
        @include flexbox($rgap: $sp-2);

        input, textarea {
            border: 2px solid $gray-color-1;
            border-radius: $sp-2;
            padding: $sp-3;
            font-size: 14px;
            line-height: 24px;

            &:focus {
                outline-color: $gray-color-3;
            }
        }

        textarea {
            resize: none;
            height: 116px;
        }
    }

    input[type=submit]{
        margin-top: $sp-4;
        @extend .button-lg;
    }
}

// footer
.footer {
    height: 216px;
    @include flexbox($jc: space-between);

    > div {
        @include flexbox(row,space-between,flex-start);

        > div {
            @include flexbox($dir: row, $cgap: $sp-4);
            width: calc($col-width * 4 + $gutter-width * 3);
        }
    }
}

.footer-logo{
    height: $sp-6;
}

.footer-social {
    display: none;
}

.footer-links, .contact {
    width: $grid-1 * (100% / $grid-4);
    @include flexbox($rgap: $sp-3);

    ul {
        @include flexbox($rgap: $sp-1);
    }

    a {
        @extend .link-dark;
    }
}

.contact {
    width: $grid-3 * (100% / $grid-4);

    li {
        @include flexbox($dir: row, $ai: center, $cgap: $sp-1);
    }

    .svg {
        background-color: $primary-color-3;
    }
}

.copyright {
    text-align: center;
    font-size: 14px;
}

// modal box
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover, &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}

.modal-candidate-info, .modal-service-form {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);

    > div {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 50px;
        border: 1px solid #888;
        border-radius: 30px;
        width: calc($destop-width * 0.8); 
    }
}

.modal-candidate-info-detail {
    @include flexbox($ai: center);
    padding: 50px;
    padding-left: 200px;
    position: relative;

    > div {
        width: 100%;
        background-color: $primary-color-3;
        border-radius: 20px;
        @include flexbox($ai: center);
        margin-top: 10px;
        padding: 20px;
    }

    h1 {
        font-size: 100px;
        color: $gray-color-5;
        padding-left: 80px;
    }

    p {
        color: $gray-color-5; 
        padding-left: 70px;
    }

    ul {
        padding-left: 100px;
    }

    li {
        list-style: disc;
    }

    img {
        width: 350px;
        position: absolute;
        bottom: 20px;
        left: 40px;
    }
}

.modal-service-form-detail {
    padding: 30px 120px 30px 50px;
    position: relative;
    margin-right: 30px;
    @include flexbox($rgap:50px);

    p:nth-child(1) {
        font-size: 40px;
    }

    p:nth-child(2) {
        color: $gray-color-5;
        background-color: $primary-color-3;
        padding: 30px;
        border-radius: 20px;

        span {
            font-size: $font-title-l;
        }
    }

    img {
        width: 380px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
