.arrow-right {
    -webkit-mask-image: url("../svg/ArrowRight.svg");
    mask-image: url("../svg/ArrowRight.svg");
}

.stamp {
    -webkit-mask-image: url("../svg/stamp.svg");
    mask-image: url("../svg/stamp.svg");
}

// navigation
.hand-coins {
    -webkit-mask-image: url("../svg/nav/HandCoins.svg");
    mask-image: url("../svg/nav/HandCoins.svg");
}

.facebook-logo {
    -webkit-mask-image: url("../svg/nav/FacebookLogo.svg");
    mask-image: url("../svg/nav/FacebookLogo.svg");
}

.ig-logo {
    -webkit-mask-image: url("../svg/nav/InstagramLogo.svg");
    mask-image: url("../svg/nav/InstagramLogo.svg");
}

.youtube-logo {
    -webkit-mask-image: url("../svg/nav/YoutubeLogo.svg");
    mask-image: url("../svg/nav/YoutubeLogo.svg");
}

.list {
    -webkit-mask-image: url("../svg/nav/List.svg");
    mask-image: url("../svg/nav/List.svg");
}

// donation
.moon-stars {
    -webkit-mask-image: url("../svg/donation/MoonStars.svg");
    mask-image: url("../svg/donation/MoonStars.svg");
}

.planet {
    -webkit-mask-image: url("../svg/donation/Planet.svg");
    mask-image: url("../svg/donation/Planet.svg");
}

.sun {
    -webkit-mask-image: url("../svg/donation/Sun.svg");
    mask-image: url("../svg/donation/Sun.svg");
}

.shooting-star {
    -webkit-mask-image: url("../svg/donation/ShootingStar.svg");
    mask-image: url("../svg/donation/ShootingStar.svg");
}

// policy issue
.piggy-bank {
    -webkit-mask-image: url("../svg/policy/PiggyBank.svg");
    mask-image: url("../svg/policy/PiggyBank.svg");
}

.first-aid-kit {
    -webkit-mask-image: url("../svg/policy/FirstAidKit.svg");
    mask-image: url("../svg/policy/FirstAidKit.svg");
}

.handshake {
    -webkit-mask-image: url("../svg/policy/Handshake.svg");
    mask-image: url("../svg/policy/Handshake.svg");
}

.park {
    -webkit-mask-image: url("../svg/policy/Park.svg");
    mask-image: url("../svg/policy/Park.svg");
}

.storefront {
    -webkit-mask-image: url("../svg/policy/Storefront.svg");
    mask-image: url("../svg/policy/Storefront.svg");
}

.paw-print {
    -webkit-mask-image: url("../svg/policy/PawPrint.svg");
    mask-image: url("../svg/policy/PawPrint.svg");
}

.buildings {
    -webkit-mask-image: url("../svg/policy/Buildings.svg");
    mask-image: url("../svg/policy/Buildings.svg");
}

.bowl-food {
    -webkit-mask-image: url("../svg/policy/BowlFood.svg");
    mask-image: url("../svg/policy/BowlFood.svg");
}

.video {
    -webkit-mask-image: url("../svg/policy/Video.svg");
    mask-image: url("../svg/policy/Video.svg");
}

// info
.map-pin {
    -webkit-mask-image: url("../svg/info/MapPin.svg");
    mask-image: url("../svg/info/MapPin.svg");
}

.phone {
    -webkit-mask-image: url("../svg/info/Phone.svg");
    mask-image: url("../svg/info/Phone.svg");
}

.envelop {
    -webkit-mask-image: url("../svg/info/Envelope.svg");
    mask-image: url("../svg/info/Envelope.svg");
}