// primary color
$primary-color-5: #A8C400;
$primary-color-4: #BBE217;
$primary-color-3: #D1FA31;
$primary-color-2: #EEFFA9;
$primary-color-1: #FBFFE1;

// Gray scale
$gray-color-5:#000000;
$gray-color-4:#444444;
$gray-color-3:#8C8C8C;
$gray-color-2:#8C8C8C;
$gray-color-1:#E2E2E2;
$gray-color-0:#FFFFFF;

// Spacing
$sp-6: 64px;
$sp-5: 48px;
$sp-4: 32px;
$sp-3: 16px;
$sp-2: 8px;
$sp-1: 4px;

// font
$font-family: "Noto Sans TC", sans-serif;
$font-title-l: 48px;
$font-title-m: 28px;
$font-title-s: 24px;
$font-subtitle: 20px;
$font-body: 16px;
$font-weight-title: 700;
$font-weight: 500;
$line-height: 1.5;
$line-height-body: 1.75;

// layout
$destop-width: 1280px;