/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.arrow-right {
  -webkit-mask-image: url("../svg/ArrowRight.svg");
  mask-image: url("../svg/ArrowRight.svg");
}

.arrow-toTop {
  -webkit-mask-image: url("../svg/ArrowTotop.svg");
  mask-image: url("../svg/ArrowTotop.svg");
}

.stamp {
  -webkit-mask-image: url("../svg/stamp.svg");
  mask-image: url("../svg/stamp.svg");
}

.hand-coins {
  -webkit-mask-image: url("../svg/nav/HandCoins.svg");
  mask-image: url("../svg/nav/HandCoins.svg");
}

.facebook-logo {
  -webkit-mask-image: url("../svg/nav/FacebookLogo.svg");
  mask-image: url("../svg/nav/FacebookLogo.svg");
}

.ig-logo {
  -webkit-mask-image: url("../svg/nav/InstagramLogo.svg");
  mask-image: url("../svg/nav/InstagramLogo.svg");
}

.youtube-logo {
  -webkit-mask-image: url("../svg/nav/YoutubeLogo.svg");
  mask-image: url("../svg/nav/YoutubeLogo.svg");
}

.list {
  -webkit-mask-image: url("../svg/nav/List.svg");
  mask-image: url("../svg/nav/List.svg");
}

.moon-stars {
  -webkit-mask-image: url("../svg/donation/MoonStars.svg");
  mask-image: url("../svg/donation/MoonStars.svg");
}

.planet {
  -webkit-mask-image: url("../svg/donation/Planet.svg");
  mask-image: url("../svg/donation/Planet.svg");
}

.sun {
  -webkit-mask-image: url("../svg/donation/Sun.svg");
  mask-image: url("../svg/donation/Sun.svg");
}

.shooting-star {
  -webkit-mask-image: url("../svg/donation/ShootingStar.svg");
  mask-image: url("../svg/donation/ShootingStar.svg");
}

.piggy-bank {
  -webkit-mask-image: url("../svg/policy/PiggyBank.svg");
  mask-image: url("../svg/policy/PiggyBank.svg");
}

.first-aid-kit {
  -webkit-mask-image: url("../svg/policy/FirstAidKit.svg");
  mask-image: url("../svg/policy/FirstAidKit.svg");
}

.handshake {
  -webkit-mask-image: url("../svg/policy/Handshake.svg");
  mask-image: url("../svg/policy/Handshake.svg");
}

.park {
  -webkit-mask-image: url("../svg/policy/Park.svg");
  mask-image: url("../svg/policy/Park.svg");
}

.storefront {
  -webkit-mask-image: url("../svg/policy/Storefront.svg");
  mask-image: url("../svg/policy/Storefront.svg");
}

.paw-print {
  -webkit-mask-image: url("../svg/policy/PawPrint.svg");
  mask-image: url("../svg/policy/PawPrint.svg");
}

.buildings {
  -webkit-mask-image: url("../svg/policy/Buildings.svg");
  mask-image: url("../svg/policy/Buildings.svg");
}

.bowl-food {
  -webkit-mask-image: url("../svg/policy/BowlFood.svg");
  mask-image: url("../svg/policy/BowlFood.svg");
}

.video {
  -webkit-mask-image: url("../svg/policy/Video.svg");
  mask-image: url("../svg/policy/Video.svg");
}

.map-pin {
  -webkit-mask-image: url("../svg/info/MapPin.svg");
  mask-image: url("../svg/info/MapPin.svg");
}

.phone {
  -webkit-mask-image: url("../svg/info/Phone.svg");
  mask-image: url("../svg/info/Phone.svg");
}

.envelop {
  -webkit-mask-image: url("../svg/info/Envelope.svg");
  mask-image: url("../svg/info/Envelope.svg");
}

html {
  scroll-behavior: smooth;
}

.screen-size, footer, main, header {
  max-width: 1280px;
  margin: 0 auto;
}

.title-l {
  font-size: 48px;
  font-weight: 700;
  color: #A8C400;
  line-height: 1.5;
}

.title-m {
  font-size: 28px;
  font-weight: 700;
  color: #A8C400;
  line-height: 1.5;
}

.title-sub {
  font-size: 20px;
  font-weight: 500;
  color: #A8C400;
  line-height: 1.5;
}

.title-format {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 8px;
  -moz-column-gap: unset;
       column-gap: unset;
}

.button-sm, .cover-button, .coins-btn {
  padding: 0;
  background-color: #D1FA31;
  border-radius: 48px;
  border: none;
}
.button-sm a, .cover-button a, .coins-btn a {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
  row-gap: unset;
  -moz-column-gap: unset;
       column-gap: unset;
  padding: 8px 16px;
  -moz-column-gap: 8px;
       column-gap: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  color: #000000;
}

.button-sm:hover, .cover-button:hover, .coins-btn:hover, .button-sm:active, .cover-button:active, .coins-btn:active {
  background-color: #BBE217;
}

.button-lg, .service-form input[type=submit] {
  background-color: #D1FA31;
  border: none;
  border-radius: 16px;
  padding: 16px 32px;
  color: #000000;
}

.button-lg:hover, .service-form input[type=submit]:hover, .button-lg:active, .service-form input[type=submit]:active {
  background-color: #BBE217;
}

.link-light {
  color: #000000;
}

.link-light:hover, .link-light:active {
  color: #A8C400;
}

.link-dark, .footer-links a, .contact a {
  color: #FFFFFF;
}

.link-dark:hover, .footer-links a:hover, .contact a:hover, .link-dark:hover {
  color: #EEFFA9;
}

.link-social:hover, .social i:hover, .link-social:active, .social i:active {
  background-color: #A8C400;
}

.donation-card, .donation-option:hover, .donation-option:active {
  background-color: #000000;
}
.donation-card p:first-child, .donation-option:hover p:first-child, .donation-option:active p:first-child {
  color: #FBFFE1;
}
.donation-card p:first-child span, .donation-option:hover p:first-child span, .donation-option:active p:first-child span {
  color: #D1FA31;
}
.donation-card .svg, .donation-option:hover .svg, .donation-option:active .svg {
  background-color: #FFFFFF;
}

.policy-box.hide, .nav-mobile.hide, .modal-candidate-info.hide, .modal-service-form.hide, .toTop.hide {
  display: none;
}

.svg {
  display: inline-block;
  background-color: #000000;
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.svg-xs {
  width: 16px;
  height: 16px;
}

.svg-s {
  width: 24px;
  height: 24px;
}

.svg-m {
  width: 32px;
  height: 32px;
}

.svg-l {
  width: 54px;
  height: 54px;
}

.svg-xl {
  width: 128px;
  height: 128px;
}

.animate-fadeIn {
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-bounce {
  animation: bounce 0.5s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

.animate-typing {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s infinite;
}
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: #000000;
  background-color: #000000;
  font-size: 16px;
  line-height: 1.75;
}

.body {
  background-color: #FFFFFF;
}

header {
  padding: 0 64px;
}

main {
  padding: 64px 64px;
}

footer {
  color: #FFFFFF;
  padding: 32px 64px;
}
footer a {
  color: #FFFFFF;
}
footer h4 {
  color: #D1FA31;
}

.fixedWindow {
  position: fixed;
  width: 100%;
}

.fixedToTop {
  position: sticky;
  top: 600px;
  z-index: 5;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: unset;
  -moz-column-gap: unset;
       column-gap: unset;
  padding: 16px 0;
}
.nav div {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  row-gap: unset;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.nav .list {
  display: none;
}

.header-logo {
  display: flex;
  height: 48px;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
  row-gap: unset;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  row-gap: 0;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.social i {
  display: flex;
}

.cover {
  position: relative;
}

.cover-bg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: unset;
  -moz-column-gap: unset;
       column-gap: unset;
  background-color: #8C8C8C;
  border-radius: 16px;
}
.cover-bg p {
  color: #FFFFFF;
  font-size: 260px;
  font-weight: 700;
  line-height: 320px;
  letter-spacing: 13px;
  margin-right: -13px;
}

.cover-black {
  width: 31.4814814815%;
  position: absolute;
  top: 38.9%;
  left: 70.05%;
}

.cover-banner {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 0;
  -moz-column-gap: 8px;
       column-gap: 8px;
  padding: 8px 32px;
  background-color: #000000;
  color: #D1FA31;
  border-radius: 48px;
  position: absolute;
  top: 43.125%;
  left: -1.74%;
}
.cover-banner span {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 0;
  -moz-column-gap: 0;
       column-gap: 0;
  width: 64px;
  height: 64px;
}
.cover-banner span.num {
  border: 3px solid #D1FA31;
  border-radius: 48px;
}
.cover-banner span .svg {
  background-color: #D1FA31;
}

.cover-button {
  position: absolute;
  top: 90.625%;
  left: 72.83%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 64px;
  -moz-column-gap: unset;
       column-gap: unset;
}

.claims {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  row-gap: unset;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.claims div:first-child {
  width: 22.9166666667%;
}
.claims div:last-child {
  width: 74.3055555556%;
}
.claims div:last-child p {
  color: #000000;
}

.events {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  row-gap: unset;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.events > div:first-child {
  width: 22.9166666667%;
}
.events > div:last-child {
  width: 74.3055555556%;
}

.event-list {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 32px;
  -moz-column-gap: unset;
       column-gap: unset;
}
.event-list li {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  row-gap: unset;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.event-list li > div:first-child {
  width: 264px;
}
.event-list li > div:last-child {
  width: calc(100% - 264px - 16px);
}

.event-img {
  width: 250.89px;
  height: 144.47px;
  border: 2px solid #EEFFA9;
  border-radius: 16px;
  box-shadow: 13.11px 13.53px #EEFFA9;
}

.event-word {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.event-detail {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 8px;
  -moz-column-gap: unset;
       column-gap: unset;
}
.event-detail > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: unset;
  -moz-column-gap: unset;
       column-gap: unset;
}
.event-detail > div > span {
  color: #A8C400;
}

.policy {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 32px;
  -moz-column-gap: unset;
       column-gap: unset;
}

.policy-tab {
  display: flex;
}
.policy-tab li {
  width: 33.33%;
  padding: 16px;
  text-align: center;
  background-color: #BBE217;
  color: #000000;
  border-radius: 16px 16px 0 0;
}
.policy-tab li:hover {
  background-color: #D1FA31;
}
.policy-tab li:active, .policy-tab li.active {
  background-color: #FBFFE1;
}

.policy-box {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  row-gap: 48px;
  -moz-column-gap: unset;
       column-gap: unset;
  padding: 32px 0;
  background-color: #FBFFE1;
  min-height: 452px;
}
.policy-box > div {
  display: flex;
}
.policy-box > h3 {
  text-align: center;
}

.policy-box-detail {
  width: 33.33%;
  background-image: url("/svg/policy/Background.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 32px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  row-gap: 8px;
  -moz-column-gap: unset;
       column-gap: unset;
  text-align: center;
}
.policy-box-detail h3 {
  color: #000000;
}

.donation {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  row-gap: unset;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.donation > div:first-child {
  width: 40.0462962963%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
  row-gap: unset;
  -moz-column-gap: unset;
       column-gap: unset;
}
.donation > div:last-child {
  width: 57.1759259259%;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 16px;
  -moz-column-gap: unset;
       column-gap: unset;
}

.donation-word {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 32px;
  -moz-column-gap: unset;
       column-gap: unset;
}
.donation-word h3 {
  color: #000000;
  word-break: keep-all;
}

.donation-total {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 4px;
  -moz-column-gap: unset;
       column-gap: unset;
  padding: 16px 32px;
  background-color: #000000;
  border-radius: 16px;
}
.donation-total p {
  color: #D1FA31;
}

.donation-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset;
  row-gap: unset;
  -moz-column-gap: unset;
       column-gap: unset;
  border: 2px solid #A8C400;
  border-radius: 16px;
  padding: 0 32px;
}
.donation-option .svg {
  background-color: #8C8C8C;
  margin: 6.5px 0;
}
.donation-option-detail {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 16px;
  -moz-column-gap: unset;
       column-gap: unset;
  padding: 16px 0;
}
.donation-option-detail p:first-child {
  color: #8C8C8C;
}
.donation-option-detail p:first-child span {
  color: #000000;
}

.num-of-sponsor {
  display: inline;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  background-color: #EEFFA9;
  border-radius: 8px;
  text-align: center;
}

.service {
  position: relative;
  height: 662px;
}
.service > div:first-child {
  width: 40.0462962963%;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 32px;
  -moz-column-gap: unset;
       column-gap: unset;
}
.service > div:last-child {
  width: 57.1759259259%;
  padding: 32px;
  background-color: #FBFFE1;
  border-radius: 16px;
  position: absolute;
  top: 0;
  right: 0;
}

.service-black {
  width: calc(22.9166666667% + 32px);
  position: absolute;
  left: 23.18%;
  bottom: -2px;
}

.service-word {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 16px;
  -moz-column-gap: unset;
       column-gap: unset;
}
.service-word h3 {
  color: #000000;
}

.service-form {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 16px;
  -moz-column-gap: unset;
       column-gap: unset;
}
.service-form div {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 8px;
  -moz-column-gap: unset;
       column-gap: unset;
}
.service-form div input, .service-form div textarea {
  border: 2px solid #E2E2E2;
  border-radius: 8px;
  padding: 16px;
  font-size: 14px;
  line-height: 24px;
}
.service-form div input:focus, .service-form div textarea:focus {
  outline-color: #8C8C8C;
}
.service-form div textarea {
  resize: none;
  height: 116px;
}
.service-form input[type=submit] {
  margin-top: 32px;
}

.footer {
  height: 216px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
  row-gap: unset;
  -moz-column-gap: unset;
       column-gap: unset;
}
.footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: unset;
  -moz-column-gap: unset;
       column-gap: unset;
}
.footer > div > div {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  row-gap: unset;
  -moz-column-gap: 32px;
       column-gap: 32px;
  width: 362.6666666667px;
}

.footer-logo {
  height: 64px;
}

.footer-social {
  display: none;
}

.footer-links, .contact {
  width: 18.3823529412%;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 16px;
  -moz-column-gap: unset;
       column-gap: unset;
}
.footer-links ul, .contact ul {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 4px;
  -moz-column-gap: unset;
       column-gap: unset;
}
.contact {
  width: 72.7941176471%;
}
.contact li {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
  row-gap: unset;
  -moz-column-gap: 4px;
       column-gap: 4px;
}
.contact .svg {
  background-color: #D1FA31;
}

.copyright {
  text-align: center;
  font-size: 14px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-candidate-info, .modal-service-form {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-candidate-info > div, .modal-service-form > div {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 50px;
  border: 1px solid #888;
  border-radius: 30px;
  width: 1024px;
}

.modal-candidate-info-detail {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  row-gap: unset;
  -moz-column-gap: unset;
       column-gap: unset;
  padding: 50px;
  padding-left: 200px;
  position: relative;
}
.modal-candidate-info-detail > div {
  width: 100%;
  background-color: #D1FA31;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  row-gap: unset;
  -moz-column-gap: unset;
       column-gap: unset;
  margin-top: 10px;
  padding: 20px;
}
.modal-candidate-info-detail h1 {
  font-size: 100px;
  color: #000000;
  padding-left: 80px;
}
.modal-candidate-info-detail p {
  color: #000000;
  padding-left: 70px;
}
.modal-candidate-info-detail ul {
  padding-left: 100px;
}
.modal-candidate-info-detail li {
  list-style: disc;
}
.modal-candidate-info-detail img {
  width: 350px;
  position: absolute;
  bottom: 20px;
  left: 40px;
}

.modal-service-form-detail {
  padding: 30px 120px 30px 50px;
  position: relative;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 50px;
  -moz-column-gap: unset;
       column-gap: unset;
}
.modal-service-form-detail p:nth-child(1) {
  font-size: 40px;
}
.modal-service-form-detail p:nth-child(2) {
  color: #000000;
  background-color: #D1FA31;
  padding: 30px;
  border-radius: 20px;
}
.modal-service-form-detail p:nth-child(2) span {
  font-size: 48px;
}
.modal-service-form-detail img {
  width: 380px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.toTop {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  row-gap: unset;
  -moz-column-gap: unset;
       column-gap: unset;
  height: 60px;
  margin-right: 3%;
}
.toTop a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: unset;
  -moz-column-gap: unset;
       column-gap: unset;
  border-radius: 50px;
  border: 5px solid #A8C400;
  width: 50px;
  height: 50px;
}
.toTop .svg {
  background-color: #A8C400;
  -webkit-mask-size: 99%;
          mask-size: 99%;
}

@media (max-width: 1225px) {
  .cover-bg p {
    font-size: 240px;
    line-height: 295.2px;
    letter-spacing: 12px;
    margin-right: -12px;
  }
  .modal-candidate-info-detail img {
    width: 300px;
    bottom: 30px;
    left: 0px;
  }
  .modal-service-form-detail {
    margin: 0;
    padding: 50px;
    align-items: center;
    row-gap: 30px;
  }
  .modal-service-form-detail p:nth-child(2) {
    width: 90%;
  }
  .modal-service-form-detail img {
    width: 300px;
  }
}
@media (max-width: 1142px) {
  .cover-bg p {
    font-size: 220px;
    line-height: 270.6px;
    letter-spacing: 11px;
    margin-right: -11px;
  }
  .modal-candidate-info > div, .modal-service-form > div {
    width: 80%;
  }
  .modal-service-form-detail p:nth-child(1) {
    font-size: 36px;
  }
  .modal-service-form-detail p:nth-child(2) {
    width: 90%;
    font-size: 24px;
  }
  .modal-service-form-detail p:nth-child(2) span {
    font-size: 40px;
  }
}
@media (max-width: 1100px) {
  .cover-bg p {
    font-size: 200px;
    line-height: 246px;
    letter-spacing: 10px;
    margin-right: -10px;
  }
  .cover-banner {
    padding: 4px 16px;
    font-size: 40px;
  }
  .cover-banner span {
    width: 48px;
    height: 48px;
  }
  .cover-banner span .svg {
    width: 42px;
    height: 42px;
  }
  .modal-service-form-detail img {
    width: 230px;
  }
}
@media (max-width: 992px) {
  .nav button span {
    width: 32px;
  }
  .header-links li {
    width: 32px;
  }
  .cover-bg p {
    font-size: 170px;
    line-height: 209.1px;
    letter-spacing: 8.5px;
    margin-right: -8.5px;
  }
  .cover-banner {
    font-size: 32px;
  }
  .cover-banner span {
    width: 42px;
    height: 42px;
  }
  .cover-banner span .svg {
    width: 35px;
    height: 35px;
  }
  .claims {
    flex-direction: column;
    row-gap: 16px;
  }
  .claims h2 {
    width: 100%;
  }
  .claims div:first-child {
    width: 100%;
  }
  .claims div:last-child {
    width: 100%;
  }
  .events {
    flex-direction: column;
    row-gap: 16px;
  }
  .events > div:first-child, .events > div:last-child {
    width: 100%;
  }
  .policy-tab li:nth-child(2) {
    padding: 16px 8px;
  }
  .donation-word h3 {
    word-break: unset;
  }
  .donation-option {
    padding: 16px;
  }
  .donation-option .svg {
    display: none;
  }
  .donation-total {
    padding: 16px;
  }
  .donation-total .title-l {
    font-size: 34px;
  }
  .modal-candidate-info-detail {
    padding: 20px;
  }
  .modal-candidate-info-detail > div {
    margin: 0;
    order: 2;
    width: 70%;
  }
  .modal-candidate-info-detail h1 {
    padding: 0;
  }
  .modal-candidate-info-detail p {
    padding: 0;
  }
  .modal-candidate-info-detail ul {
    padding: 0;
  }
  .modal-candidate-info-detail img {
    position: unset;
    order: 1;
    margin-bottom: 20px;
  }
  .modal-service-form-detail {
    text-align: center;
    padding: 30px;
  }
  .modal-service-form-detail p:nth-child(1) {
    font-size: 32px;
  }
  .modal-service-form-detail p:nth-child(2) {
    font-size: 22px;
  }
  .modal-service-form-detail p:nth-child(2) span {
    font-size: 36px;
  }
  .modal-service-form-detail img {
    width: 150px;
    right: -10px;
  }
}
@media (max-width: 850px) {
  .cover-bg p {
    font-size: 150px;
    line-height: 184.5px;
    letter-spacing: 7.5px;
    margin-right: -7.5px;
  }
  .cover-banner {
    font-size: 28px;
  }
  .cover-banner span {
    width: 36px;
    height: 36px;
  }
  .cover-banner span .svg {
    width: 32px;
    height: 32px;
  }
  .policy-box > div {
    flex-direction: column;
    justify-content: space-between;
    height: 800px;
  }
  .policy-box-detail {
    width: 100%;
    margin: unset;
    padding: 0 80px;
    background-size: auto;
  }
  .modal-service-form-detail img {
    width: 100px;
  }
}
@media (max-width: 767px) {
  header, main, footer {
    max-width: 375px;
    margin: 0 auto;
    padding: unset;
  }
  .body {
    position: relative;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    row-gap: 343px;
    -moz-column-gap: unset;
         column-gap: unset;
  }
  .nav {
    padding: 16px;
  }
  .nav > div, .nav > ul {
    display: none;
  }
  .nav .list {
    display: block;
  }
  .nav-social, .nav-mobile .social a:hover, .nav-mobile .social a:active {
    color: #A8C400;
  }
  .nav-social i, .nav-mobile .social a:hover i, .nav-mobile .social a:active i {
    background-color: #A8C400;
  }
  .nav-mobile {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    z-index: 1;
    display: flex;
  }
  .nav-mobile > div:first-child {
    width: calc(100% - 225px);
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
  .nav-mobile > div:last-child {
    width: 225px;
    height: 100%;
    background: #FFFFFF;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    row-gap: 16px;
    -moz-column-gap: unset;
         column-gap: unset;
  }
  .nav-mobile > div:last-child > div {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    row-gap: 16px;
    -moz-column-gap: unset;
         column-gap: unset;
    margin: 16px 0;
  }
  .nav-mobile .header-links {
    flex-direction: column;
    row-gap: 16px;
  }
  .nav-mobile .header-links li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: unset;
    row-gap: unset;
    -moz-column-gap: unset;
         column-gap: unset;
  }
  .nav-mobile .social {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    row-gap: 16px;
    -moz-column-gap: unset;
         column-gap: unset;
  }
  .nav-mobile .social a {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: unset;
    row-gap: unset;
    -moz-column-gap: 4px;
         column-gap: 4px;
    width: 100%;
    color: #000000;
  }
  .cover-bg {
    height: auto;
  }
  .cover-bg p {
    font-size: 80px;
    line-height: 1.5;
    letter-spacing: 4px;
    margin-right: -4px;
  }
  .cover-black {
    width: 305px;
    top: -321px;
    left: 35px;
  }
  .cover-banner {
    font-size: 24px;
    top: 98px;
    left: 12px;
  }
  .cover-banner span {
    width: 32px;
    height: 32px;
  }
  .cover-banner span .svg {
    width: 26px;
    height: 26px;
  }
  .cover-button {
    top: -63px;
    left: 16px;
  }
  .main {
    padding: 32px 16px;
    row-gap: 32px;
  }
  .claims p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
  }
  .event-list li {
    flex-direction: column;
    row-gap: 16px;
  }
  .event-list li > div:first-child {
    width: 100%;
    height: 202px;
  }
  .event-list li > div:last-child {
    width: 100%;
  }
  .event-img {
    width: calc(100% - 17.03px);
    height: calc(100% - 17.52px);
    box-shadow: 17.03px 17.52px #EEFFA9;
  }
  .policy-tab li:nth-child(2) {
    padding: 16px 0;
    word-break: keep-all;
  }
  .policy-box > div {
    height: 900px;
  }
  .policy-box > h3 {
    word-break: keep-all;
  }
  .policy-box-detail {
    padding: 0 16px;
  }
  .donation {
    flex-direction: column;
    row-gap: 32px;
  }
  .donation > div:first-child {
    width: 100%;
    justify-content: unset;
    row-gap: 16px;
  }
  .donation > div:last-child {
    width: 100%;
  }
  .donation-word {
    row-gap: 16px;
  }
  .donation-total .title-l {
    font-size: 48px;
  }
  .donation-option-detail {
    padding: unset;
  }
  .service {
    height: auto;
    position: unset;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    row-gap: 32px;
    -moz-column-gap: unset;
         column-gap: unset;
  }
  .service > div:first-child {
    width: 100%;
    row-gap: 16px;
  }
  .service > div:last-child {
    position: unset;
    width: 100%;
    padding: 32px 16px;
  }
  .service-black {
    display: none;
  }
  .footer {
    height: auto;
    padding: 32px 16px;
    row-gap: 32px;
  }
  .footer > div {
    flex-direction: column;
    row-gap: 16px;
  }
  .footer > div > div {
    flex-direction: column;
    width: 100%;
    row-gap: 32px;
  }
  .footer-social .svg {
    background-color: #FFFFFF;
  }
  .footer-social .svg:hover, .footer-social .svg:active {
    background-color: #A8C400;
  }
  .footer-links {
    width: 100%;
    row-gap: 8px;
  }
  .footer-links > ul {
    flex-direction: row;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .contact {
    width: 100%;
    row-gap: 8px;
  }
  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: unset;
    -moz-column-gap: unset;
         column-gap: unset;
  }
  .modal-candidate-info > div, .modal-service-form > div {
    padding: 20px;
  }
  .modal-candidate-info-detail {
    padding: 30px;
    margin-left: 15px;
  }
  .modal-candidate-info-detail > div {
    width: 100%;
    padding: 20px 25px;
  }
  .modal-candidate-info-detail > div p {
    margin-top: 10px;
  }
  .modal-candidate-info-detail > div ul {
    padding-left: 15px;
  }
  .modal-candidate-info-detail > p {
    word-break: keep-all;
    text-align: center;
  }
  .modal-candidate-info-detail h1 {
    font-size: 50px;
  }
  .modal-candidate-info-detail img {
    width: 200px;
  }
  .modal-service-form-detail {
    padding: 30px 0;
    margin-left: 15px;
  }
  .modal-service-form-detail > p:nth-child(1) {
    word-break: keep-all;
    font-size: 28px;
  }
  .modal-service-form-detail > p:nth-child(2) {
    padding: 30px 15px;
    font-size: 20px;
    word-break: keep-all;
  }
  .modal-service-form-detail > p:nth-child(2) span {
    font-size: 40px;
  }
  .modal-service-form-detail img {
    width: 80px;
    bottom: 30px;
  }
}/*# sourceMappingURL=style.css.map */