/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: #000000;
  background-color: #000000;
  font-size: 16px;
  line-height: 1.75;
}

.body {
  background-color: #FFFFFF;
}

header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 64px;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 64px 64px;
}

footer {
  max-width: 1280px;
  margin: 0 auto;
  color: #FFFFFF;
  padding: 32px 64px;
}
footer a {
  color: #FFFFFF;
}
footer h4 {
  color: #D1FA31;
}

.title-l {
  font-size: 48px;
  font-weight: 700;
  color: #A8C400;
  line-height: 1.5;
}

.title-m {
  font-size: 28px;
  font-weight: 700;
  color: #A8C400;
  line-height: 1.5;
}

.title-sub {
  font-size: 20px;
  color: #A8C400;
  line-height: 1.5;
}

.button-sm, .cover-button, .nav div button {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  padding: 8px 16px;
  background-color: #D1FA31;
  border-radius: 48px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
}

.button-sm:hover, .cover-button:hover, .nav div button:hover, .button-sm:active, .cover-button:active, .nav div button:active {
  background-color: #BBE217;
}

.link-light, .header-links a {
  color: #000000;
}

.link-light:hover, .header-links a:hover, .link-light:active, .header-links a:active {
  color: #A8C400;
}

.link-dark, .contact a, .footer-links a {
  color: #FFFFFF;
}

.link-dark:hover, .contact a:hover, .footer-links a:hover, .link-dark:hover {
  color: #EEFFA9;
}

.link-social:hover, .social i:hover, .link-social:active, .social i:active {
  background-color: #A8C400;
}

.donation-card, .donation-option:hover, .donation-option:active {
  background-color: #000000;
}
.donation-card p:first-child, .donation-option:hover p:first-child, .donation-option:active p:first-child {
  color: #FBFFE1;
}
.donation-card p:first-child span, .donation-option:hover p:first-child span, .donation-option:active p:first-child span {
  color: #D1FA31;
}
.donation-card .svg, .donation-option:hover .svg, .donation-option:active .svg {
  background-color: #FFFFFF;
}

.policy-box.hide {
  display: none;
}

.arrow-right {
  -webkit-mask-image: url("/svg/ArrowRight.svg");
  mask-image: url("/svg/ArrowRight.svg");
}

.stamp {
  -webkit-mask-image: url("/svg/stamp.svg");
  mask-image: url("/svg/stamp.svg");
}

.hand-coins {
  -webkit-mask-image: url("/svg/nav/HandCoins.svg");
  mask-image: url("/svg/nav/HandCoins.svg");
}

.facebook-logo {
  -webkit-mask-image: url("/svg/nav/FacebookLogo.svg");
  mask-image: url("/svg/nav/FacebookLogo.svg");
}

.ig-logo {
  -webkit-mask-image: url("/svg/nav/InstagramLogo.svg");
  mask-image: url("/svg/nav/InstagramLogo.svg");
}

.youtube-logo {
  -webkit-mask-image: url("/svg/nav/YoutubeLogo.svg");
  mask-image: url("/svg/nav/YoutubeLogo.svg");
}

.list {
  -webkit-mask-image: url("/svg/nav/List.svg");
  mask-image: url("/svg/nav/List.svg");
}

.moon-stars {
  -webkit-mask-image: url("/svg/donation/MoonStars.svg");
  mask-image: url("/svg/donation/MoonStars.svg");
}

.planet {
  -webkit-mask-image: url("/svg/donation/Planet.svg");
  mask-image: url("/svg/donation/Planet.svg");
}

.sun {
  -webkit-mask-image: url("/svg/donation/Sun.svg");
  mask-image: url("/svg/donation/Sun.svg");
}

.shooting-star {
  -webkit-mask-image: url("/svg/donation/ShootingStar.svg");
  mask-image: url("/svg/donation/ShootingStar.svg");
}

.piggy-bank {
  -webkit-mask-image: url("/svg/policy/PiggyBank.svg");
  mask-image: url("/svg/policy/PiggyBank.svg");
}

.first-aid-kit {
  -webkit-mask-image: url("/svg/policy/FirstAidKit.svg");
  mask-image: url("/svg/policy/FirstAidKit.svg");
}

.handshake {
  -webkit-mask-image: url("/svg/policy/Handshake.svg");
  mask-image: url("/svg/policy/Handshake.svg");
}

.park {
  -webkit-mask-image: url("/svg/policy/Park.svg");
  mask-image: url("/svg/policy/Park.svg");
}

.storefront {
  -webkit-mask-image: url("/svg/policy/Storefront.svg");
  mask-image: url("/svg/policy/Storefront.svg");
}

.paw-print {
  -webkit-mask-image: url("/svg/policy/PawPrint.svg");
  mask-image: url("/svg/policy/PawPrint.svg");
}

.buildings {
  -webkit-mask-image: url("/svg/policy/Buildings.svg");
  mask-image: url("/svg/policy/Buildings.svg");
}

.bowl-food {
  -webkit-mask-image: url("/svg/policy/BowlFood.svg");
  mask-image: url("/svg/policy/BowlFood.svg");
}

.video {
  -webkit-mask-image: url("/svg/policy/Video.svg");
  mask-image: url("/svg/policy/Video.svg");
}

.map-pin {
  -webkit-mask-image: url("/svg/info/MapPin.svg");
  mask-image: url("/svg/info/MapPin.svg");
}

.phone {
  -webkit-mask-image: url("/svg/info/Phone.svg");
  mask-image: url("/svg/info/Phone.svg");
}

.envelop {
  -webkit-mask-image: url("/svg/info/Envelope.svg");
  mask-image: url("/svg/info/Envelope.svg");
}

.svg {
  display: inline-block;
  background-color: #000000;
}

.svg-xs {
  width: 16px;
  height: 16px;
}

.svg-s {
  width: 24px;
  height: 24px;
}

.svg-m {
  width: 32px;
  height: 32px;
}

.svg-l {
  width: 54px;
  height: 54px;
}

.svg-xl {
  width: 128px;
  height: 128px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.nav img {
  display: flex;
  height: 48px;
}
.nav div {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.header-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.social i {
  display: flex;
}

.cover {
  position: relative;
}

.cover-bg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #8C8C8C;
  border-radius: 16px;
  height: 640px;
}
.cover-bg p {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  color: #FFFFFF;
  font-size: 260px;
  line-height: 320px;
  letter-spacing: 13px;
}

.cover-black {
  height: 407px;
  position: absolute;
  top: 249px;
  left: 807px;
}

.cover-banner {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  padding: 8px 32px;
  background-color: #000000;
  color: #D1FA31;
  border-radius: 48px;
  position: absolute;
  top: 276px;
  left: -20px;
}
.cover-banner span {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
}
.cover-banner span.num {
  border: 3px solid #D1FA31;
  border-radius: 48px;
}
.cover-banner span .svg {
  background-color: #D1FA31;
}

.cover-button {
  position: absolute;
  top: 580px;
  left: 839px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 64px;
}

.claims {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.claims div:first-child {
  width: 264px;
}
.claims div:last-child {
  width: 856px;
  font-size: 20px;
}

.events {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.events > div:first-child {
  width: 264px;
}
.events > div:last-child {
  width: 856px;
}

.event-list {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 32px;
}
.event-list li {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.event-list li div:first-child {
  width: 264px;
}
.event-list li div:last-child {
  width: 576px;
}

.event-img {
  width: 250.894px;
  border: 2px solid #EEFFA9;
  border-radius: 16px;
  box-shadow: 13.11px 13.53px #EEFFA9;
}

.event-word {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.event-detail {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 8px;
}
.event-detail > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.event-detail > div span {
  color: #A8C400;
}

.policy {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 32px;
}

.policy-tab {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
}
.policy-tab li {
  width: 33.33%;
  padding: 16px;
  text-align: center;
  background-color: #BBE217;
  color: #000000;
  border-radius: 16px 16px 0 0;
}
.policy-tab li:hover {
  background-color: #D1FA31;
}
.policy-tab li:active, .policy-tab li.active {
  background-color: #FBFFE1;
}

.policy-box {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  row-gap: 48px;
  padding: 32px 0;
  background-color: #FBFFE1;
}
.policy-box > div {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  height: 268px;
}

.policy-box-detail {
  width: 33.33%;
  background-image: url("/svg/policy/Background.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 32px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  row-gap: 8px;
}
.policy-box-detail h3 {
  color: #000000;
}
.policy-box-detail p {
  text-align: center;
}

.donation {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.donation h3 {
  color: #000000;
}
.donation > div:first-child {
  width: 461px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
}
.donation > div:last-child {
  width: 659px;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 16px;
}

.donation-word {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 32px;
}

.donation-total {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 4px;
  padding: 16px 32px;
  background-color: #000000;
  border-radius: 16px;
}
.donation-total p {
  color: #D1FA31;
}

.donation-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset;
  border: 2px solid #A8C400;
  border-radius: 16px;
  padding: 0 32px;
}
.donation-option .svg {
  background-color: #8C8C8C;
  margin: 6.5px 0;
}
.donation-option-detail {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 16px;
  padding: 16px 0;
}
.donation-option-detail p:first-child {
  color: #8C8C8C;
}
.donation-option-detail p:first-child span {
  color: #000000;
}

.num-of-sponsor {
  display: inline;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  background-color: #EEFFA9;
  border-radius: 8px;
  text-align: center;
}

.service {
  position: relative;
  height: 646px;
}
.service > div:first-child {
  width: 466px;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 32px;
}
.service > div:last-child {
  width: 659px;
  padding: 32px;
  background-color: #FBFFE1;
  border-radius: 16px;
  position: absolute;
  top: 0;
  right: 0;
}

.service-black {
  height: 337px;
  position: absolute;
  left: 267px;
  bottom: -2px;
}

.service-word {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 16px;
}
.service-word h3 {
  color: #000000;
}

.service-form {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 16px;
}
.service-form div {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 8px;
}
.service-form div input, .service-form div textarea {
  border: 2px solid #E2E2E2;
  border-radius: 8px;
  padding: 16px;
  font-size: 14px;
  line-height: 24px;
}
.service-form div textarea {
  resize: none;
  height: 116px;
}
.service-form input[type=submit] {
  background-color: #D1FA31;
  border: none;
  border-radius: 16px;
  padding: 16px 32px;
  color: #000000;
  margin-top: 32px;
}

.footer {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset;
}
.footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.footer > div > div {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.footer-logo {
  height: 64px;
}

.footer-links {
  width: 64px;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 16px;
}
.contact {
  width: 267px;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  row-gap: 16px;
}
.contact address {
  display: inline-block;
}
.contact li {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
}
.contact .svg {
  background-color: #D1FA31;
}

.copyright {
  text-align: center;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */