@media (max-width: 1225px){
    // header
    .cover-bg p {
        font-size: 240px;
        line-height: 295.2px;
        letter-spacing: 12px;
        margin-right: -12px;
    }

    // modal box
    .modal-candidate-info-detail img {
        width: 300px;
        bottom: 30px;
        left: 0px;
    }

    .modal-service-form-detail {
        margin: 0;
        padding: 50px;
        align-items: center;
        row-gap: 30px;

        p:nth-child(2) {
            width: 90%;
        }
        
        img {
            width: 250px;
        }
    }
}

@media (max-width: 1142px){
    // header
    .cover-bg p {
        font-size: 220px;
        line-height: 270.6px;
        letter-spacing: 11px;
        margin-right: -11px;
    }

    // modal box
    .modal-service-form-detail {
        p:nth-child(1) {
            font-size: 36px;
        }

        p:nth-child(2) {
            width: 90%;
            font-size: 24px;
            
            span {
                font-size: 40px;
            }
        }
        
        img {
            width: 200px;
        }
    }
}

@media (max-width: 1100px){
    // header
    .cover-bg p {
        font-size: 200px;
        line-height: 246px;
        letter-spacing: 10px;
        margin-right: -10px;
    }

    .cover-banner {
        padding: $sp-1 $sp-3;
        font-size: 40px;

        span {
            @include svgSize($sp-5);

            .svg {
                @include svgSize(42px);
            }
        }
    }
}