@media (max-width: 1220px){
    // header
    .cover-bg p {
        font-size: 240px;
        line-height: 295.2px;
        letter-spacing: 12px;
        margin-right: -12px;
    }
}

@media (max-width: 1142px){
    // header
    .cover-bg p {
        font-size: 220px;
        line-height: 270.6px;
        letter-spacing: 11px;
        margin-right: -11px;
    }
}

@media (max-width: 1100px){
    // header
    .cover-bg p {
        font-size: 200px;
        line-height: 246px;
        letter-spacing: 10px;
        margin-right: -10px;
    }

    .cover-banner {
        padding: $sp-1 $sp-3;
        font-size: 40px;

        span {
            @include svgSize($sp-5);

            .svg {
                @include svgSize(42px);
            }
        }
    }
}