@media (max-width: 767px){
    header, main, footer {
        max-width: $mobile-width;
        margin: 0 auto;
        padding: unset;
    }

    // header
    .header {
        @include flexbox($rgap: 343px);
    }

    .nav {
        padding: $sp-3;

        > div, > ul {
            display: none;
        }

        .list {
            display: block;
        }
    }

    .cover-bg {
        height: auto;

        p {
            font-size: 80px;
            line-height: $line-height;
            letter-spacing: 4px;
            margin-right: -4px;
        }
    }

    .cover-black {
        width: 305px;
        top: -321px;
        left: 35px;
    }

    .cover-banner {
        font-size: $font-title-s;
        top: 98px;
        left: 12px;

        span {
            @include svgSize($sp-4);

            .svg {
                @include svgSize(26px);
            }
        }
    }

    .cover-button {
        top: -19px - 28px - 16px;
        left: 16px;
    }

    // main
    .main {
        padding: $sp-4 $sp-3;
        row-gap: $sp-4;
    }

    // main - claims section
    .claims {
        flex-direction: column;
        row-gap: $sp-3;

        div:first-child {
            width: 100%;
        }

        div:last-child {
            width: 100%;

            p {
                font-size: $font-body;
                font-weight: $font-weight;
                line-height: $line-height-body;
            }
        }
    }

    // main - events section
    .events {
        flex-direction: column;
        row-gap: $sp-3;

        > div:first-child, > div:last-child{
            width: 100%;;
        }
    }

    .event-list li {
        flex-direction: column;
        row-gap: $sp-3;

        > div:first-child {
            width: 100%;
            height: 202px;
        }

        > div:last-child {
            width: 100%;
        }
    }

    .event-img {
        width: calc(100% - 17.03px);
        height: calc(100% - 17.52px);
        box-shadow: 17.03px 17.52px $primary-color-2;
    }

    // main - policy section
    .policy-tab {
        li:nth-child(2) {
            padding: $sp-3 0;
            word-break: keep-all;

        }
    }

    .policy-box {
        > h3 {
            word-break: keep-all;
            text-align: center;
        }

        > div {
            flex-direction: column;
            row-gap: $sp-4;
            height: auto;
        }
    }

    .policy-box-detail {
        width: 100%;
        margin: unset;
        background-size: auto;
    }

    // main - donation section
    .donation {
        flex-direction: column;
        row-gap: $sp-4;

        > div:first-child{
            width: 100%;
            justify-content: unset;
            row-gap: $sp-3;
        }
    
        > div:last-child{
            width: 100%;
        }
    }

    .donation-word {
        row-gap: $sp-3;
    }

    .donation-total {
        padding: $sp-3;

        .title-l {
            font-size: $font-title-l;
        }
    }

    .donation-option {
        padding: $sp-3;

        .svg {
            display: none;
        }
    }

    .donation-option-detail {
        padding: unset;
    }

    // main - service section
    .service {
        height: auto;
        position: unset;
        @include flexbox($rgap: $sp-4);

        > div:first-child {
            width: 100%;
            row-gap: $sp-3;
        }

        > div:last-child {
            position: unset;
            width: 100%;
            padding: $sp-4 $sp-3;

        }
    }

    .service-black {
        display: none;
    }


    // footer
    .footer {
        height: auto;
        padding: $sp-4 $sp-3;
        row-gap: $sp-4;

        > div {
            flex-direction: column;
            row-gap: $sp-3;

            > div {
                flex-direction: column;
                width: 100%;
                row-gap: $sp-4;
            }
        }
    }

    .footer-social .svg {
        background-color: $gray-color-0;
            
        &:hover, &:active{
            background-color: $primary-color-5;
        }
    }

    .footer-links {
        width: 100%;
        row-gap: $sp-2;

        > ul {
            flex-direction: row;
            column-gap: $sp-3;
        }
    }

    .contact {
        width: 100%;
        row-gap: $sp-2;
    }

    .copyright {
        @include flexbox($jc: center, $ai:center);
    }
}