@media (max-width: 992px) {
    // header
    .nav button span {
        width: 32px;
    }

    .header-links li {
        width: 32px;
    }

    .cover-bg p {
        font-size: 170px;
        line-height: 209.1px;
        letter-spacing: 8.5px;
        margin-right: -8.5px;
    }

    .cover-banner {
        font-size: 32px;

        span {
            @include svgSize(42px);

            .svg {
                @include svgSize(35px);
            }
        }
    }

    // main - claims section
    .claims {
        flex-direction: column;
        row-gap: $sp-3;

        h2 {
            width: 100%;
        }

        div:first-child {
            width: 100%;
        }

        div:last-child {
            width: 100%;
        }
    }

    // main - events section
    .events {
        flex-direction: column;
        row-gap: $sp-3;

        > div:first-child, > div:last-child{
            width: 100%;;
        }
    }

    // main - policy section
    .policy-tab {
        li:nth-child(2) {
            padding: $sp-3 $sp-2;
        }
    }

    // main - donation section
    .donation-word h3 {
        word-break: unset;
    }

    .donation-option {
        padding: $sp-3;

        .svg {
            display: none;
        }
    }

    .donation-total {
        padding: $sp-3;

        .title-l {
            font-size: 34px;
        }
    }

     // modal box
    .modal-candidate-info-detail {
        padding: 20px;

        > div {
            margin: 0;
            order: 2;
            width: 70%;
        }

        h1 {
            padding: 0;
        }

        p {
            padding: 0;
        }

        ul {
            padding: 0;
        }

        img {
            position: unset;
            order: 1;
            margin-bottom: 20px;
        }
    }

    .modal-service-form-detail {
        text-align: center;
        padding: 30px;
        p:nth-child(1) {
            font-size: 32px;
        }

        p:nth-child(2) {
            font-size: 22px;
            
            span {
                font-size: 36px;
            }
        }
        
        img {
            width: 100px;
            right: -10px;
        }
    }
}

@media (max-width: 850px){
    // header
    .cover-bg p{
        font-size: 150px;
        line-height: 184.5px;
        letter-spacing: 7.5px;
        margin-right: -7.5px;
    }

    .cover-banner {
        font-size: $font-title-m;

        span {
            @include svgSize(36px);

            .svg {
                @include svgSize(32px);
            }
        }
    }

     // main - policy section
    .policy-box {

        > div {
            flex-direction: column;
            row-gap: $sp-4;
            height: auto;
        }
    }

    .policy-box-detail {
        width: 100%;
        margin: unset;
        background-size: auto;
    }
}