.svg {
    display: inline-block;
    background-color: $gray-color-5;
}

.svg-xs {
    width: 16px;
    height: 16px;
}

.svg-s {
    width: 24px;
    height: 24px;
}

.svg-m {
    width: 32px;
    height: 32px;
}

.svg-l {
    width: 54px;
    height: 54px;
}

.svg-xl {
    width: 128px;
    height: 128px;
}